aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==2.0.12
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.1
cycler==0.12.1
datasets==3.1.0
decorator==5.2.1
dill==0.3.8
docker-pycreds==0.4.0
einops==0.8.1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
filelock==3.16.1
flatbuffers==25.2.10
fonttools==4.33.3
frozenlist==1.5.0
fsspec==2024.9.0
gitdb==4.0.9
GitPython==3.1.27
h5py==3.11.0
huggingface-hub==0.32.2
humanfriendly==10.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
joblib==1.4.2
kiwisolver==1.4.7
lazy_loader==0.4
librosa==0.11.0
lightgbm==4.6.0
llvmlite==0.41.1
matplotlib==3.7.5
modules==1.0.0
monai==1.3.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
nibabel==5.2.1
numba==0.58.1
numpy==1.24.4
onnxruntime==1.19.2
opencv-python==4.11.0.86
openpyxl==3.1.5
packaging==25.0
pandas==2.0.3
pillow==10.4.0
platformdirs==4.3.6
pooch==1.8.2
propcache==0.2.0
protobuf==5.29.5
psutil==7.0.0
pyarrow==17.0.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.1.4
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
sentry-sdk==2.29.1
setproctitle==1.3.6
six==1.17.0
smmap==5.0.2
soundfile==0.13.1
soxr==0.3.7
sympy==1.13.3
threadpoolctl==3.5.0
torch @ file:///D:/Soft/torch-1.13.1%2Bcu117-cp38-cp38-win_amd64.whl
torchaudio @ file:///D:/Soft/torchaudio-0.13.1%2Bcu117-cp38-cp38-win_amd64.whl
torchvision @ file:///D:/Soft/torchvision-0.14.1%2Bcu117-cp38-cp38-win_amd64.whl
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
wandb==0.19.11
xarray==2023.1.0
xlrd==2.0.1
xxhash==3.5.0
yarl==1.15.2
zipp==3.20.2
